:root {
  font-family: 'Archivo';
  line-height: 1.5;
  font-weight: 400;

  color: rgb(0, 0, 0);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
